.custom-design{
    height: 500px;
    width: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    position: relative;
}
div img{
    width: 90%;
}
.btn-checkout{
    position: absolute;
    bottom: 0;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    background-color: aquamarine;

}